<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>RaveHub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.raver.mvp.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>raver</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.raver.mvp.firebase-auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-377174862257-ios-79778d9d5dc0254d08b590</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>RaveHub 需要保存分享海报到你的相册。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>RaveHub 需要访问你的相册以保存分享海报。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RaveHub 会在你选择当前位置、发布地点标签或加入小队位置共享时使用定位，用于展示附近地点、活动地点和队友位置。</string>
	<key>NSCameraUsageDescription</key>
	<string>RaveHub 需要使用相机拍摄聊天图片或视频。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>RaveHub 需要使用麦克风录制聊天语音消息。</string>
	<key>TencentIMAPNSBusinessID</key>
	<string>48505</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
